.calcBtns{
    height: 90px;
    width: 90px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(219, 178, 187);
    box-shadow: 10px 10px 30px rgba(155, 72, 94, 0.799), -10px -10px 30px rgba(155, 72, 94, 0.799);
    user-select: none;
    cursor: pointer;
}

.res {
    width: 120px;
    background-color: rgba(255, 0, 0, 0.231);
    
}